# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.pyc
__pycache__/

# Django
*.log
*.pot
*.py[cod]
__pycache__/
db.sqlite3
media
/static
/staticfiles

# Docker
*.log
*.pid
*.swp
.dockerignore
docker-compose.override.yml
docker-compose.debug.yml
.env

# VS Code
.vscode/
